# Import libraries

In [3]:
import pandas as pd
import ephem

# Define helper functions

In [5]:
def get_sidereal_time(date, obs):
    """
    Function to convert DateTime 
    columns to sidereal time.
    """
    obs.date = date
    return str(obs.sidereal_time())

# Run the code

In [6]:
# Open the csv file
df = pd.read_csv('data.csv')

# Convert DateTime from str to datetime
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Initialise our observer
obs = ephem.Observer()
obs.lon = '+6.05528'
obs.lat = '46.23556'

# Calculate sidereal time in J2000 frame    
df['J2000_ST'] = df['DateTime'].apply(get_sidereal_time, args=[obs])

# Shift DateTime by 1895.6 hours
delta = pd.Timedelta(hours=1895.6)
df['DateTime'] -= delta

# Now calculate sidereal time in SCF 
df['SCF_ST'] = df['DateTime'].apply(get_sidereal_time, args=[obs])

# Print our results
df

        UnixTime                      DateTime    J2000_ST       SCF_ST
0   1.439692e+09 2015-05-29 02:44:51.955986023  0:21:45.70  19:34:21.71
1   1.439692e+09 2015-05-29 02:45:52.670033932  0:22:46.58  19:35:22.59
2   1.439692e+09 2015-05-29 02:46:53.295608759  0:23:47.37  19:36:23.38
3   1.439692e+09 2015-05-29 02:47:47.765300274  0:24:41.99  19:37:18.00
4   1.439692e+09 2015-05-29 02:48:42.459154367  0:25:36.83  19:38:12.84
5   1.439692e+09 2015-05-29 02:49:42.970921993  0:26:37.51  19:39:13.52
6   1.540353e+09 2018-08-06 04:21:40.460974932  6:31:55.98   1:44:32.24
7   1.540354e+09 2018-08-06 04:22:40.706206083  6:32:56.39   1:45:32.65
8   1.540354e+09 2018-08-06 04:23:40.964525223  6:33:56.81   1:46:33.07
9   1.540354e+09 2018-08-06 04:24:41.070778370  6:34:57.08   1:47:33.34
10  1.540354e+09 2018-08-06 04:25:21.885955811  6:35:38.01   1:48:14.27